{% if site.logo %}
<img class="logo" src="{{ site.logo | relative_url }}" width="70%" alt="Logo">
{% endif %}

{% if site.blank_title %}
<h2>{{ site.title | default: site.github.repository_name }}</h2>
{% else %}
<h2>{{ site.title | default: site.github.repository_name }}</h2>
{% endif %}

<!---{% if site.email %}
<p class="addr"><i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:reginaldchristianbernardo@gmail.com">{{ site.email }}</a></p>
{% endif %}--->

<p class="addr">Say Hi ( 
{% if site.email %}
<i class="fas fa-envelope"></i>&nbsp;<a href="mailto:{{ site.email }}">Email</a>
{% endif %}
{% if site.email and site.twitter %}
/ 
{% endif %}
{% if site.twitter %}
<i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/{{ site.twitter }}">Twitter</a>
{% endif %}
)</p>

